.main {
    padding: 20px;
    text-align: center;
  }
  
body {
    background-color: #505050; 
    margin: 0; 
    font-family: 'CyberpunkFont'; 
    color: #ff37c6
}

.tableauButton {
    font-family: 'CyberpunkFont5';
    background-color: aliceblue;
    color:rgb(61, 59, 214)
}

@font-face {
    font-family: 'CyberpunkFont'; 
    src: url('../fonts/GlitchGoblin-2O87v.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'CyberpunkFont2'; 
    src: url(../fonts/Starzoom-Shavian.ttf) format('truetype');
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'CyberpunkFont3'; 
    src: url(../fonts/terminal-grotesque.ttf) format('truetype');
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'CyberpunkFont4'; 
    src: url(../fonts/SAIBA-45.ttf) format('truetype');
    font-weight: normal; 
    font-style: normal; 
}


@font-face {
    font-family: 'CyberpunkFont5'; 
    src: url(../fonts/Play-Bold.ttf) format('truetype');
    font-weight: normal; 
    font-style: normal; 
}
